.table {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    border-top: 0 none;

}

thead > tr {
    margin-top: 20px;
    padding-top: 20px;
}

thead {
    margin-top: 20px;
    padding-top: 20px;
    tr {
            border-top: 0 none;
    }

}



.category {
    margin-bottom: 20px;
}

.row {
    padding-bottom: 20px;
    margin-bottom: 20px;
}


tr {
    padding-bottom: 20px;
    margin-bottom: 30px;
}


.lastRow {
    padding-bottom: 20px;
    margin-bottom: 30px;
}
