{% extends "orders/base.html" %}

{% block title %}
    Cart
{% endblock %}

{% block body %}
<h1>Cart</h1>

{% for item in order.items.all %}
    <p>{{item}}, <a href="{% url 'remove_item'%}">Delete item</a></p>

    <form method="POST" action="{% url 'checkout' %}">
        {% csrf_token %}
        <div class="form-group">
            <input type="hidden" id="orderId" name="orderId" value="{{order.id}}">
        </div>

        <button type="submit" class="btn btn-primary">Checkout</button>
    </form>
{% empty %}
    {{message}}
{% endfor %}




{% endblock %}
