{% extends "orders/base.html" %}

{% block title %}
    Pinocchio's Pizza & Subs
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Pinocchio's Pizza & Subs</h1>
            <h5>74 Winthrop Street </h5>
            <h5>Harvard Square</h5>

            <h5>(617) 876-4897</h5>
            <h5><a href="mailto:pinocchiospizza1@gmail.com">pinocchiospizza1@gmail.com</a></h5>
        </div>
        <div class="col">
            <img src="https://www.pinocchiospizza.net/images/building3.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>About</h3>
            <p>Noch's has reached a landmark this year... 50 years in business! We've been feeding Harvard and the surrounding area since 1966!</p>
            <p>We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 500 reviews on Yelp &mdash; check it out!</p>
            <p>Pinocchio's was recently named 1st runner-up in the 'Boston's Best Pizza Poll' conducted by Eater.com and Top College Pizza Shop by Thrillist.com.</p>
        </div>
    </div>

{% endblock %}
