{% extends "base.html" %}

{% block title %}
  Search
{% endblock %}

{% block pagehead %}
  Search
{% endblock %}

{% block body %}

<div class="row">
    <section class="listing">
        <h3>Your search for '{{ query }}' returned {{ books|length }} results.</h3>
        <h4>{{request.GET.query}}</h4>
            {% for book in books %}

                <div class="card">
                   <a href="http://openlibrary.org/isbn/{{book.isbn|first}}"><img src="https://covers.openlibrary.org/b/id/{{book.cover_i}}-L.jpg" class="card-img-left" height="200px" width="100px"></a>
<a href="/books/{{request.GET.query|default_if_none:'what'}}" class="card-link" class="card-link">
                    <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">by {{book.author_name|first}}</h6>
                        <p>{{book.isbn|first}}</p>
                    </div>
</a>

<a href="/books/{{request.GET.query|default_if_none:'what'}}/acquire" type="button" class="btn btn-primary btn-sm">Add</a>
                </div>

            {% endfor %}
    </section>
</div>

{% endblock %}
