{% extends "base.html" %}

{% block title %}
  Search
{% endblock %}

{% block pagehead %}
  Search
{% endblock %}

{% block body %}

<div class="row">
    <section class="listing">
        <h3>Your search for '{{ query }}' returned {{ books|length }} results.</h3>
            <h6>Book Survey results</h6>
            {% for book in db_books %}
              <div class="card">
                 <!-- Book info, links to individual book page -->
                  <div class="card-body">
                      <h5 class="card-title">{{book.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">by {{book.authors.all.0|default:"No author listed"}}</h6>
                  </div>
                </a>
              </div>

            {% endfor %}
            <h6>Open Library results</h6>
            {% for book in books %}
                <div class="card">
                   <!-- Book cover, linked to Open Library -->
                   <a href="http://openlibrary.org/isbn/{{book.isbn|first}}"><img src="https://covers.openlibrary.org/b/id/{{book.cover_i}}-L.jpg" class="book-cover card-img-right"></a>

                   <!-- Book info, links to individual book page -->
                   <a href="{% url 'work' query forloop.counter0 %}" class="card-link" class="card-link">
                    <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">by {{book.author_name|first}}</h6>
                    </div>
                  </a>
                </div>
            {% empty %}
              <p>Do you want to <a href="{% url 'add book' %}">add this book</a> to the database?</p>
            {% endfor %}
    </section>
</div>

{% endblock %}
