{% extends "base.html" %}

{% block title %}
  Search
{% endblock %}

{% block pagehead %}
  Search
{% endblock %}

{% block body %}

<form method="POST" action="{% url 'search' %}">
  {% csrf_token %}
    <input class="form-control" name="query" type="search" placeholder="Search" aria-label="Search">

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="queryOptions" id="title" value="title">
      <label class="form-check-label" for="title">Title</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="queryOptions" id="author" value="author">
      <label class="form-check-label" for="author">Author</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="queryOptions" id="isbn" value="isbn">
      <label class="form-check-label" for="isbn">ISBN</label>
    </div>

    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

{% endblock %}
