<section>
    <h3>Channels</h3>
    <ul id="channels">
        {% for channel in channels %}
            <li><button type="button" class="btn btn-outline-primary channel" name="{{channel}}">{{channel}}</button></li>
        {% endfor %}
    </ul>
    <div class="alert alert-danger" role="alert" id="channelError">

    </div>
    <h4>Create a new channel:</h4>
    <form id="channelNameForm" autocomplete=off>
        <div class="form-group">
            <input type="text" id="channelName" required placeholder="Channel name">
            <button type="submit" class="btn btn-success" id="createChannel">+</button>
        </div>
    </form>

</section>
