<section id="displayNameSection">
  <!-- If no channel is selected, message will not send and error is displayed. -->
  <div id='userError'></div>

  <form id="displayNameForm" autocomplete=off>
    <div class="form-group">
      <label for="displayName">Display name</label>
      <input type="text" class="form-control" id="displayName" placeholder="Enter display name" required>
    </div>
    <button type="submit" id="displayNameSubmit" class="btn btn-primary" disabled>Submit</button>
  </form>
</section>
