<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">
        Book Review Central
    </a>

    <div class="collapse navbar-collapse d-flex justify-content-md-end">
        <div class="navbar-nav">
            <!-- If a user is logged in, display search and user dropdown -->
            {% if user %}

            <!-- Otherwise, show login/create account links -->
            {% else %}

            {% endif %}
        </div>
    </div>
</nav>
