<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="collapse navbar-collapse navbar nav">
    <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
    <form method="POST" action="{{ url_for('search') }}" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="title" type="search" placeholder="Book Title" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
