aside {
    background-color: lightblue;
    // padding-bottom: 100%;
}

h1 {
    font-variant: small-caps;
}

#messageList {
    list-style-type: none;
    padding-left: 0;
    li {
        padding-bottom: 10px;

        .card-title, .card-subtitle {
            display: inline;
        }
    }
}


#channels {
    list-style-type: none;
    padding-left: 0;
    li {
        margin-left: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

#channelHead, footer {
    padding-top: 10px;
    background-color: #1c4280;
}


main {
    // margin-bottom: 600px;
    // padding-bottom: 500px;
}

#createChannel:hover {
    text-decoration: none;
    // border: 1px solid blue;
    // border-radius: 15px;
    // padding: 0 2 0 2;
}

#messageContents {
    width: 100%;
    margin: 0 auto;
    display: inline;
    // padding-right: 1em;
}

#displayNameSection {
    padding: auto;
}

// Style copied from CSCI s-33a course site
@media (min-width: 768px) {
    aside.col-md {
        flex: 0 1 20rem;
    }
}
