aside {
    background-color: lightblue;
    // padding-bottom: 100%;
}

h1 {
    font-variant: small-caps;
}


main > div {
    width: 100%;
}

#messageList {
    list-style-type: none;
    padding-left: 0;
    li {
        padding-bottom: 10px;

        .card-title, .card-subtitle {
            display: inline;
        }
    }
}

// Get the #channelHead grouping to stay in the second column
.fixed-top {
    margin-left: 305px;
}

// Add padding to elements below fixed title
main.col-md > div {
    padding-top: 100px;
    background-color: red;
}

#channels {
    list-style-type: none;
    padding-left: 0;
    li {
        margin-left: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

#channelHead, footer {
    // padding-top: 10px;
    padding: 20px;
    background-color: #1c4280;
    color: white;
}


main.col-md {
    padding: 0px;
}

footer {
    margin-left: 100px;
}

#createChannel:hover {
    text-decoration: none;
    // border: 1px solid blue;
    // border-radius: 15px;
    // padding: 0 2 0 2;
}

#messageContents {
    width: 100%;
    padding-left: 10px;
    margin: 0 auto;
    display: inline;
    // padding-right: 1em;
}

#messageForm {
    padding: 10px;
    margin-left: 19px;
}

footer > .col {
    padding: 0;
    margin: 0;
}

footer.row {
    // position: fixed;
    // display: flex;
    // flex-wrap: wrap;
    bottom: 0;
    padding: 0 auto;
    margin: 0 auto;

}
#targetThis {
    padding: 0;
    margin: 0;
}

#displayNameSection {
    padding: auto;
}



// Style copied from CSCI s-33a course site
// Keeps aside on the left at a fixed column-width
@media (min-width: 768px) {
    aside.col-md {
        flex: 0 1 20rem;
    }
}

// Adjust spacing of fixed-top title for smaller screens
@media (max-width: 767px) {
    .fixed-top {
        margin-left: 0px;
        position: static;
        width: 100%;
    }

    // main.col-md >
    main.col-md > div {
        padding-top: 0px;
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        background-color: green;
    }

    // main.col-md > div > div {
    //     padding-left: 0px;
    //     margin-left: 0px;
    //
    // }
    #mainDisplay, footer {
        padding: 20px;
    }
    main.col-md > div > div > div {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;

    }
}
