.book {
  border: 1px solid gray;
  padding: 10px;
  float: right;
}
.book-cover {
    width: 20%;
    padding: 1.25rem;
    // float: left;
    // clear: both;
}
.card {
  margin-bottom: 1.25rem;
}

.book-info {
  clear: both;
  float: right;
}

.listing {
  width: 80%;
  margin: 0 auto;
}
