main.container-fluid {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.navbar-brand {
    font-weight: bold;
    font-variant: small-caps;
}

nav.navbar-light {
    background-color: #e3f2fd;
}

#book-info {
    margin-bottom: 1em;

    p {
        padding: 0;
        margin: 0;
        width: 80%;
    }
}

#book-reviews {
    .card{
        border: none;
    }
}

.listing {
  text-align: left;
  margin: 0 auto;
  width: 80%;
}
