main {
  padding: 10px;
}

#user-welcome {
  color: black;
}

#user-welcome:hover {
  background-color: inherit;
}
/* .row {
  text-align: center;
} */

.listing {
  text-align: left;
  margin: 0 auto;
  width: 80%;
}
