{% extends "layout.html" %}

{% block body %}

<div class="row">
  <h1>Book page  {{name}}</h1>

  <h2>Title: title</h2>
  <p>Author: author</p>
  <p>Publication Year: year</p>
  <p>ISBN: isbn</p>
  <p>User Reviews: reviews</p>

  <form>
    <input type="text">
    <button type="button" name="button">Submit</button>
  </form>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Column 1</p>
    </div>
    <div class="col-md-4">
        <p>Column 2</p>
    </div>
    <div class="col-md-4">
        <p>Column 3</p>
    </div>
</div>

{% endblock body %}
