<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{message.user}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Sent {{message.time}}</h6>
    <p class="card-text">{{message.text}}</p>
  </div>
</div>
