<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="/">
    Book Survey
  </a>

  <div class="collapse navbar-collapse d-flex justify-content-md-end">
    <div class="navbar-nav">

      <a class="nav-item nav-link" href="{% url 'search' %}">Search</a>
      <!-- If a user is logged in -->
      {% if user.is_authenticated %}
        <!-- Welcome them, with dropdown links -->

        <a class="nav-item nav-link" href="{% url 'add book' %}">Add book</a>
        <a class="nav-item nav-link dropdown dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello, {{user}}</a>

        <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'library' %}">Your Library</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>

      <!-- Display links to login or create account, if no user authenticated -->
      {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-item nav-link" href="{% url 'register' %}">Create Account</a>
      {% endif %}
    </div>
  </div>
</nav>
