{% extends "base.html" %}

{% block title %}
  Acquire
{% endblock %}

{% block pagehead %}
  Acquire
{% endblock %}

{% block body %}


<img src="{{book.cover.medium}}">
<h1>{{edition.book.title}}</h1>
<h2>by
  {% for author in edition.book.authors.all %}
    {{author}}
  {% endfor %}
</h2>
<p>Publisher: {{edition.book.publisher|default:"None listed."}}</p>
<p>Published: {{edition.pub_year|default:"None listed."}}</p>

<form method="POST" action="{% url 'acquire' edition.openlibrary_id %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="genre">Genre</label>
    <select class="form-control" name="genre" id="genre">
      <option value=""></option>
      {% for genre in genres %}
        <option value="{{genre}}" {% if edition.book.genre == genre %}selected{% endif %}>{{genre}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
      <label for="new_genre">Add a new genre</label>
      <input type="text" class="form-control" name="newGenre" id="newGenre">
  </div>

  <div class="form-group">
    <label for="numPages">Number of pages</label>
    <input type="number" class="form-control" name="numPages" id="numPages" value="{{edition.num_pages}}">
  </div>
  <div class="form-group">
    <label for="numMinutes">Number of minutes</label>
    <input type="number" class="form-control" name="numMinutes" id="numMinutes" value="{{edition.num_minutes}}">
  </div>
    <button class="btn btn-outline-success" type="submit">Add to your library</button>
</form>



{% endblock %}
