{% extends "base.html" %}

{% block title %}
  Search
{% endblock %}

{% block pagehead %}
  Search
{% endblock %}

{% block body %}


<img src="{{book.cover.medium}}">
<h1>{{book.title}}</h1>
<h2>by
{% for author in book.authors %}
<a href="{{author.url}}">{{author.name}}</a>
{% endfor %}
</h2>
<p>Publisher: {{book.publishers.0.name}}</p>
<p>Published: {{book.publish_date}}</p>
<div class="more-details">
  {% for key in book.identifiers %}
    <p>{{key|capfirst}}: {{book.identifiers.0.0}}

    </p>
  {% endfor %}


  <h3>Genre</h3>
  {% for subject in book.subjects %}
    <p>{{subject.name}}</p>
  {% endfor %}

  <p></p>
  <p></p>
</div>

<a href="{% url 'acquire' book.identifiers.isbn_10.0 %}" type="button" class="btn btn-primary btn-sm">Add to your library</a>

{% endblock %}
