{% extends "layout.html" %}

{% block body %}
<div class="row">
    <h1>Welcome to Book Review Central!</h1>
    <p>On this site, you can search over 5,000 books and look at reviews fellow readers have left, both on this site and aggregated from Goodreads. To get started, create an account, if you haven't already, or login. Then, when you are ready, search for your favorite book to see if it is in our database. Need some ideas? Try searching for <i>American Gods</i> by Neil Gaiman or <i>The Martian</i> by Andy Weir.</p>
</div>

{% endblock body %}
